  <div class="card">
    <div class="card-body">
      <%= product.images.size > 0 ?image_tag(product.images.first.file_name.url(:thumb), :class =>"card-img-top") : content_tag(:span, "No image yet") %>
      <h4 class="card-title"><%= product.name  %></h4>
      <p class="card-text"><%= product.description  %></p>
    </div>
    <div class="card-footer">
      <%= link_to 'Details', product, :class=>"btn btn-secondary" %>
      <%= button_to 'Add to Cart!', add_cart_path(id: product.id), mothod: :post, :class=>"btn btn-primary" %>
    </div>
  </div>