<!-- Jumbotron Header -->
<header class="jumbotron my-4">
  <h1 class="display-3">Nico's Ruby Ecommercy website!</h1>
  <p class="lead">This is the final project of Full-stack web development.</p>
  <a href="#" class="btn btn-primary btn-lg">Hire me!</a>
</header>
<div class="row">
  <div class="col-lg-12">
    <h2>About <%= @about.name %></h2>
    <p class="mb-0"><%= @about.description %></p>

    <h2>Contact Us:</h2>
      <ul>
        <li>Phone: <%= @about.phone%>
          </li>
        <li>Address: <%= @about.address1%></li>
        <li>City: <%= @about.city%></li>
        <li>PostalCode: <%= @about.postalcode%></li>
      </ul>
  </div>
</div>