<!-- Jumbotron Header -->
<header class="jumbotron my-4">
  <h1 class="display-3">Nico's Ruby Ecommercy website!</h1>
  <p class="lead">This is the final project of Full-stack web development.</p>
  <a href="#" class="btn btn-primary btn-lg">Hire me!</a>
</header>
<div lass="row"><%= render "search" %>
  <div class="navbar-nav"><%= paginate @products %>

  </div>
  <div class="row">

      <% for product in @products %>
          <div class="col-lg-3 col-md-6 mb-4">
            <div><strong>Product Name: </strong><%= product.name  %></div>
            <div><strong>Product Description: </strong><%= product.description  %></div>
            <div><strong>Stock_Quantity: </strong><%= product.stock_quantity  %></div>
            <div><strong>Price: </strong><%= product.price  %></div>
        </div>

      <% end %>
  </div>
</div>
