
<div>
  <%= render "jumbotron" %>
</div>
<div>
  <%= render "layouts/cart" %>
</div>

<div>
  <%= render "search" %>
</div>

<div class="mx-auto">
<%= form_tag products_search_url, method: :get do |f| %>
    <%= select_tag 'category', options_for_select(Category.all.map{|el| [el.name, el.id]}) %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Product", class:"form-control" %>
    <%= submit_tag 'Search',class: "btn btn-search btn-default" %>
<% end %>
</div>

<div class="row">
    <% @products.each do |product| %>
      <div class="col-lg-3 col-md-6 mb-4">

        <%= render partial: "product", object: product %>


      </div>

    <% end %>
    <%= paginate @products%>
</div>
