<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.number_field :number, id: :order_number %>
  </div>

  <div class="field">
    <%= form.label :total %>
    <%= form.text_field :total, id: :order_total %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :order_state %>
  </div>

  <div class="field">
    <%= form.label :gst %>
    <%= form.text_field :gst, id: :order_gst %>
  </div>

  <div class="field">
    <%= form.label :pst %>
    <%= form.text_field :pst, id: :order_pst %>
  </div>

  <div class="field">
    <%= form.label :hst %>
    <%= form.text_field :hst, id: :order_hst %>
  </div>

  <div class="field">
    <%= form.label :qst %>
    <%= form.text_field :qst, id: :order_qst %>
  </div>

  <div class="field">
    <%= form.label :payment %>
    <%= form.text_field :payment, id: :order_payment %>
  </div>

  <div class="field">
    <%= form.label :memo %>
    <%= form.text_area :memo, id: :order_memo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
