<%= debug current_user %>
<tr>
  <th colspan="4">
    <span class="pull-right">
      Shipping To:
          <%= select_tag 'Address', options_for_select(Address.where(:user_id=>current_user.id).map{|el| [(el.addressline1 + " " + el.city), el.id]}) %>
    </span>
  </th>
</tr>

<tr>
  <th colspan="2"></th>
  <th>GST</th>
  <th><%= @sub_total %></th>
</tr>

<tr>
  <th colspan="2"></th>
  <th>PST</th>
  <th><%= @sub_total %></th>
</tr>

<tr>
  <th colspan="2"></th>
  <th>HST</th>
  <th><%= @sub_total %></th>
</tr>

<tr>
  <th colspan="2"></th>
  <th>QST</th>
  <th><%= @sub_total %></th>
</tr>
