<% if Address.where(:user_id=> current_user.id, :is_billing_address => true).count <=0  %>
    <tr><th>You need add a billing address. <% link_to "Add Billing Address", new_addresses_path %></th></tr>
<% else %>
    <% @tax_province = Address.where(:user_id=> current_user.id, :is_billing_address => true).first.province%>

    <% session[:order]['province_id'] = @tax_province.id %>
    <% @gst = (@tax_province.gst * @sub_total).round(2) %>
    <% @pst = (@tax_province.pst * @sub_total).round(2) %>
    <% @hst = (@tax_province.hst * @sub_total).round(2) %>
    <% @qst = (@tax_province.qst * @sub_total).round(2) %>
    <% @grant_total = (@sub_total+ @gst + @pst + @hst + @qst).round(2) %>
    <tr>
      <th colspan="4">
        <span class="pull-right">
          Shipping To:
              <%= select_tag 'Address', options_for_select(Address.where(:user_id=>current_user.id).map{|el| [(el.addressline1 + " " + el.city), el.id]}) %>
        </span>
      </th>
    </tr>

    <% if @gst > 0  %>
      <tr>
        <th colspan="2"></th>
        <th>GST</th>
        <th><%= number_to_currency(@gst)  %></th>
      </tr>
    <% end %>
    <% if @pst > 0  %>
      <tr>
        <th colspan="2"></th>
        <th>PST</th>
        <th><%= number_to_currency(@pst) %></th>
      </tr>
    <% end %>

    <% if @hst > 0  %>
        <tr>
          <th colspan="2"></th>
          <th>HST</th>
          <th><%= number_to_currency(@hst) %></th>
        </tr>
    <% end %>

    <% if @qst > 0  %>
        <tr>
          <th colspan="2"></th>
          <th>QST</th>
          <th><%= number_to_currency(@qst) %></th>
        </tr>
    <% end %>

<%end%>
