<table class="table table-striped table-hover table-bordered">
  <thead>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Phone</th>
    <th>Addressline1</th>
    <th>Addressline2</th>
    <th>City</th>
    <th>Province</th>
    <th>Postalcode</th>
    <th>Is billing address</th>
    <th>Is shipping address</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @addresses.each do |address| %>
      <tr>
        <td><%= address.firstname %></td>
        <td><%= address.lastname %></td>
        <td><%= address.phone %></td>
        <td><%= address.addressline1 %></td>
        <td><%= address.addressline2 %></td>
        <td><%= address.city %></td>
        <td><%= address.province.name %></td>
        <td><%= address.postalcode %></td>
        <td><%= address.is_billing_address %></td>
        <td><%= address.is_shipping_address %></td>
        <td><%= link_to 'Show', address %></td>
        <td><%= link_to 'Edit', edit_address_path(address) %></td>
        <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>
