<%= form_with(model: address, local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :firstname %>
    <%= form.text_field :firstname, id: :address_firstname %>
  </div>

  <div class="field">
    <%= form.label :lastname %>
    <%= form.text_field :lastname, id: :address_lastname %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :address_phone %>
  </div>

  <div class="field">
    <%= form.label :addressline1 %>
    <%= form.text_field :addressline1, id: :address_addressline1 %>
  </div>

  <div class="field">
    <%= form.label :addressline2 %>
    <%= form.text_field :addressline2, id: :address_addressline2 %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :address_city %>
  </div>

  <div class="field">
    <%= form.label :postalcode %>
    <%= form.text_field :postalcode, id: :address_postalcode %>
  </div>

  <div class="field">
    <%= form.label :is_billing_address %>
    <%= form.check_box :is_billing_address, id: :address_is_billing_address %>
  </div>

  <div class="field">
    <%= form.label :is_shipping_address %>
    <%= form.check_box :is_shipping_address, id: :address_is_shipping_address %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
