<% if !@product.nil? %>
<div class="col-lg-8 col-md-10 mx-auto">
  <%= render "/carts/shopping_cart" %>
</div>
<div> </div>
<div class="col-lg-8 col-md-10 mx-auto">
  <div><strong>Product Name: </strong><%= @product.name  %></div>
  <div><strong>Product Description: </strong><%= @product.description  %></div>
  <div><strong>Price: </strong><%= @product.price  %></div>
  <div><%= button_to 'Add to Cart!', add_cart_path(id: @product.id), mothod: :post, :class=>"btn btn-primary" %></div>
  <% if @product.images.size > 0 %>
        <% @product.images.each do |image| %>
          <%= image_tag image.file_name %>
        <% end %>
  <% else %>
  <p>No images</p>
  <% end %>
</div>
<% elsif !@products.nil? %>
    <div class="row">
      <% @products.each do |product| %>
          <div class="col-lg-3 col-md-6 mb-4">

            <%= render partial: "/home/product", object: product %>


          </div>

      <% end %>

    </div>
<% else %>
    <div>No result returned</div>
<% end %>