<%= form_tag charges_path do %>
    <% @amount = session[:order]["total"] %>
    <% @description = session[:order]['description'] %>
    <article>
      <% if flash[:error].present? %>
          <div id="error_explanation">
            <p>Error: <%= flash[:error] %></p>
          </div>
      <% end %>
      <label class="amount">
        <span>Amount: <%= number_to_currency(@amount/100.0 ) %></span>
      </label>
    </article>

        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-description="<%= @description %>"
                data-amount="<%= @amount %>"
                data-locale="auto">
        </script>

<% end %>